---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Varsan Raja</div>
    <div class="text-3xl py-3 font-bold">Rising Senior in High School and an aspiring Software Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        Hi, I am Varsan - a Rising Senior in High School, very interested in developing skills and/or landing 
        possible internships/research positions in the field of Computer Science and STEM(specifically Chemistry 
        and Physics). I aspire to get into quantum computing/engineering, and believe that acquiring prior 
        experience and knowledge in the mentioned relevant fields will greatly benefit my goals.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My latest projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Thirukkural App"
    img="/post_img.webp"
    desc="It is a notification app that gives daily reminders and english explanations on the thirukkural, a vast historical and cultural tamil work produced by thiruvalluvar."
    url="https://github.com/varsanraja5-cmd/testApp"
    badge="NEW"
  />
</BaseLayout>
